{% include "header.html" %}

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('static/assets/img/about-bg.jpg')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <p>📍 Software Quality Assurance Engineer with 4 years’ experience.</p>
                    <p>I specialize in</p>
                        <li>Product impact analysis</li>
                        <li>Test strategy</li>
                        <li>Test case design</li>
                        <li>Desktop/Mobile website testing (UX/UI)</li>
                        <li>Functional testing</li>
                        <li>Regression testing</li>
                        <li>End-to-end testing</li>
                        <li>Exploratory testing</li>
                    <p>Previously worked for <em><b>Agoda</b></em> (online travel agency). My work was focused on:
                        <li>Hotel products</li>
                        <li>Booking page / Payment page</li>
                        <li>Credit card features</li>
                        <li>Log-in features</li>
                        <li>Maps features</li>
                        <li>Home page & Search bar features</li>
                        <li>China market features related</li>
                    </div>
            </div>
        </div>
        <hr />

{% include "footer.html" %}